@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Nice Try Guy<br />
    No Where, No How<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">DontEmailThisLink@hvc.rr.com</a><br />
</address>
